*{
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:focus{
    outline: 5px solid orange;
}

body{
    background-color: black;
}

header{
    height: 25vh;
}

main{
    height: 75vh;
}

h1, h2, h3, h4, h5, p{
    margin: 0.25em 0;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 5em;
    margin: 0.25em 0;
}

h2{
    font-size: 4.5em;
}

h3{
    font-size: 4em;
}

p, input, a{
    font-size: 3.5em;
}

input[type="date"]{
    color: black;
}

header > a{
    text-decoration: none;
}

header > a:hover{
    text-decoration: underline;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
}

nav ul li{
    width: 100%;
    height: 30vh;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    border: 30px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

nav ul li a:hover{
    border: 3px solid white;
    text-decoration: underline;
}

nav ul li a:focus{
    border: 30px solid orange;
}

/* ----------- wedstrijden ------------*/
.wedstrijden section div{
    margin: 4em 2em 6em 2em;
    padding: 2em 3em;
    background-color: orange;
    width: 80%;
}

.wedstrijden section div h3, .wedstrijden section div p{
    color: black;
}

/* ----------- agenda ------------*/
.agenda h2{
    margin:0.5em 0.2em 0.2em 0.2em;
}

.agenda section:first-of-type ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.agenda section:first-of-type{
    height: 10vh;
}

.agenda section:first-of-type ul, .agenda section:first-of-type ul li{
    height: 100%;
}

.agenda section:first-of-type ul li a{
    display: block;
    height: 100%;
    font-size: 3em;
    background-color: white;
    color: black;
    padding: 0.25em 1em ;
}

.agenda section:first-of-type ul li a.selected{
    background-color: orange;
    font-weight: 800;
}

.agenda section:nth-of-type(2) > button{
    padding: 0.5em 1em;
    color: black;
    font-size: 3em;
    margin-right: 1em;
}

.agenda section:nth-of-type(2) > button:last-of-type{
    margin-right: 0;
}
